@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: 'Pacifico',
    cursive;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}